*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.heading{
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 6rem 3rem;
    gap: 1rem;

}
.heading h1{
    font-size: 4rem;
}
.heading h4{
    text-align: left;
    width: 100%;
}
.heading button{
    width: 20rem;
    height: 2rem;
    border-radius: 15px;
    border: none;
    background-color: aqua;
    font-weight: 700;
    font-size: 1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}
.heading button:hover{
    background-color: red;
    color: white;
}
.img_box{
    height: 30rem;
    width: 30rem;
    overflow: hidden;
}
.img_box img{
    height: 100%;
    width: 100%;
}
.right_box{
    display: flex;
    align-items: center;
    justify-content: center;
}