.main{
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
    height: 4rem;
    align-items: center;
    width: 100vw;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    position: fixed;
 backdrop-filter: blur(10px);
    z-index: 99;
    opacity: 0.9;
}
.main ul{
    display: flex;
    gap: 3rem;
    list-style: none;
}