.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: grid;
    grid-template-columns: 2fr 1fr!important;
    padding: 6rem 2rem;
    width: 100vw;
}
.left_box{
    padding: 1rem;
}
.right_box{
    padding: 1rem;
    overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2rem;
   border: 1px red solid;
}
.preview_template{
    height:15rem!important;
    width: 10rem!important;
}
.right_box div{
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    font-size: .5rem;
}
.right_box div img{
    height: 4rem;
    width: 4rem;
}
.color_plate{
   height: 8rem!important;
}