.main{
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 6rem;
}
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  gap: 1rem;
}
.heading h2{
    font-size: 2.5rem;
}
.heading p{
    width: 40rem;
}
.Carsouel{
   width: 80%;
}
.search_input{
   width: 30rem;
   height: 3rem;
   border-radius: 30px;
   border: none;
   outline: none;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
   padding: 0rem 2rem;
}