
.navBar {
    width: 30rem;
    height: 100%;
  }
  a{
    text-decoration: none;
  }
  
  .options{
    background-color: white;
    height:max-content;
  }
  .optionList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
  
  }
  
 .optionList  li {

    cursor: pointer;
    padding: .5rem;
    padding-left: 2rem;
    position: relative;
    font-weight: 600;
    font-size: medium;
    color: #5e5959;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  .options li{
    cursor: pointer;
    padding: .68rem;
    position: relative;
    font-weight: 600;
    font-size: medium;
    color: #5e5959;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    list-style: none;
    margin-top: -.2rem;
    width: max-content;
  }

  
  .optionList  li:hover {
    background-color: rgb(229, 229, 223);
    color: black;
  }
  
  .optionContent {
    position: absolute;
    top: -1%;
    left: 100%;
    background-color: white;
    padding: .9rem 0rem;
    border-left: none;
    display: grid;
   grid-template-columns: 1fr 1fr;
    z-index: 1;
    width: 69.5rem;
    padding-right: 15rem;
    color: black;
    gap: .5rem;
    height:20rem;
  }

  .optionContent  p{
    height: 14rem ;
    overflow: hidden;
  }
  
  .optionContent  h4{
     width: 14rem;
     height: 3rem;
    overflow: hidden;
    font-size: 1.2rem;
  }

  
  .optionContent1 {
    position: absolute;
    top: -99%;
    left: 100%;
    background-color: white;
    padding: .9rem 0rem;
    border-left: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 1;
    width: max-content;
    color: black;
    width: 69.5rem;
    padding-right: 15rem;
    gap: .5rem;
  }
  .optionContent1  p{
    height: 14rem ;
    overflow: hidden;
  }
  
  .optionContent1  h4{
     width: 14rem;
     max-height: 3rem;
    overflow: hidden;
    font-size: 1.2rem;
  }
  
  .optionContent2 {
    position: absolute;
    top: -199%;
    left: 100%;
    background-color: white;
    padding: .9rem 0rem;
    border-left: none;
    display: flex;
    /* flex-direction: column; */
    z-index: 1;
    width: 28.4rem;
    color: black;
    height:20rem;
    gap: .5rem;
  }
  .optionContent2  p{
    height: 14rem ;
    overflow: hidden;
  }
  
  .optionContent2  h4{
     width: 14rem;
     max-height: 3rem;
    overflow: hidden;
    font-size: 1.2rem;
  }
  
  .optionContent3 {
    position: absolute;
    top: -300%;
    left: 100%;
    background-color: white;
    padding: .9rem 0rem;
    border-left: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 1;
    width: 69.5rem;
    padding-right: 15rem;
    color: black;
    height: max-content;
    gap: .5rem;
  }
  .optionContent3  p{
    height: 14rem ;
    overflow: hidden;
  }
  
  .optionContent3  h4{
     width: 14rem;
     max-height: 3rem;
    overflow: hidden;
    font-size: 1.2rem;
  }
  
  .optionContent4 {
    position: absolute;
    top: -399%;
    left: 100%;
    background-color: white;
    padding: .9rem 0rem;
    border-left: none;
    display: flex;
    z-index: 1;
    width: 28.4rem;
    color: black;
    height: 20rem;
    gap: .5rem;
  }
  .optionContent4  p{
    height: 14rem ;
    overflow: hidden;
  }
  
  .optionContent4  h4{
     width: 14rem;
     max-height: 3rem;
    overflow: hidden;
    font-size: 1.2rem;
  }
  
  .optionContent5 {
    position: absolute;
    top: -499%;
    left: 100%;
    background-color: white;
    padding: .9rem 0rem;
    border-left: none;
    display: flex;
    z-index: 1;
    width: 28.4rem;
    color: black;
    height: 20rem;
    gap: .5rem;
  }
  .optionContent5  p{
    height: 14rem ;
    overflow: hidden;
  }
  
  .optionContent5  h4{
     width: 14rem;
     max-height: 3rem;
    overflow: hidden;
    font-size: 1.2rem;
  }
  
  .optionContent6 {
    position: absolute;
    top: -600%;
    left: 100%;
    background-color: white;
    padding: .9rem 0rem;
    border-left: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 1;
    width: 69.5rem;
    padding-right: 15rem;
    color: black;
    height: max-content;
    gap: .5rem;
  }
  .optionContent6  p{
    height: 14rem ;
    overflow: hidden;
  }
  
  .optionContent6  h4{
     width: 14rem;
     max-height: 3rem;
    overflow: hidden;
    font-size: 1.2rem;
  }
    
  .optionContent7 {
    position: absolute;
    top: -695%;
    left: 100%;
    background-color: white;
    padding: .9rem 0rem;
    border-left: none;
    display: flex;
    /* flex-direction: column; */
    z-index: 1;
    width: 28.4rem;
    color: black;
    height:20rem;
    gap: .5rem;
  }
  .optionContent7  p{
    height: 14rem ;
    overflow: hidden;
  }
  
  .optionContent7  h4{
     width: 14rem;
     max-height: 3rem;
    overflow: hidden;
    font-size: 1.2rem;
  }
  
  
  .active {
    background-color: white;
    color: black;
  }
  
  .arrow{
    font-size: 5rem;
    font-weight: 700;
    position: absolute;
    margin-left:-3.5rem ;
    margin-top: -2rem;
    color: rgb(234, 234, 232) ;
    z-index: -1;
  }
  

  .logo{
    height: 4rem;
    width: 4rem;
    filter: drop-shadow(1px 3px 3px);
  }
  .accodian{
    display: none;
  }

 @media (max-width:800px){
    .navBar {
        margin-left: 1rem;
        width: 20rem;
    }
 }
 @media (max-width:669px){
    .navBar {
        display: none;
    }
    .accodian{
        display: unset;
    }
 }
 .options li:nth-child(1)  {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInLeft {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-90%, 0, 0);
  transform: translate3d(-90%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInLeft {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-90%, 0, 0);
  transform: translate3d(-90%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  } 


 .options li:nth-child(2)  {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInLeft {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-90%, 0, 0);
  transform: translate3d(-90%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInLeft {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-90%, 0, 0);
  transform: translate3d(-90%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  } 
 .options li:nth-child(3)  {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInLeft {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-90%, 0, 0);
  transform: translate3d(-90%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInLeft {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-90%, 0, 0);
  transform: translate3d(-90%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  } 
 .options li:nth-child(4)  {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInLeft {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-90%, 0, 0);
  transform: translate3d(-90%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInLeft {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-90%, 0, 0);
  transform: translate3d(-90%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  } 
 .options li:nth-child(5)  {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInLeft {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-90%, 0, 0);
  transform: translate3d(-90%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInLeft {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-90%, 0, 0);
  transform: translate3d(-90%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  } 
 .options li:nth-child(6)  {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1.6s;
  animation-duration: 1.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInLeft {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-90%, 0, 0);
  transform: translate3d(-90%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInLeft {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-90%, 0, 0);
  transform: translate3d(-90%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  } 
 .options li:nth-child(7)  {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1.7s;
  animation-duration: 1.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInLeft {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-90%, 0, 0);
  transform: translate3d(-90%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInLeft {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-90%, 0, 0);
  transform: translate3d(-90%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  } 


