.main{
    display: flex;
       flex-direction: column;
        width: 52rem; /* 874px / 16px = 54.625rem */
        height: 73.3rem;  /* 1240px / 16px = 77.5rem */
        background-Color: white;
        box-Shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        gap: 1rem;
    
    }
    .heading{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 5rem;
        width: 52rem; 
    }
    .summary h2{
        background-color:rgb(211, 211, 211)  ;
        padding: 0rem .5rem;
        width: 90%;
    }
    .para{
        width: 90%;
    }
    .summary {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .Experience{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .Experience h2{
        background-color:rgb(211, 211, 211)  ;
        padding: 0rem .5rem;
        width: 90%;
    }
    .Experience ul{
        width: 90%;
        list-style: none;
    }
    .Skills h2{
        padding: 0rem .5rem;
        background-color:rgb(211, 211, 211)  ;
        width: 90%
    }
    .Skills {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .Skills ul{
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .Skills ul li{
        padding: 1rem;
        margin-left: 1rem;
    }
    .work_des {
        display: grid;
        grid-template-columns: 1fr 2fr;

    }
    .Eucation{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .Eucation h2{
        padding: 0rem .5rem;
        background-color:rgb(211, 211, 211)  ;
        width: 90%
    }
    .Eucation ul{
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .Eucation ul li{
        display: flex;
        flex-direction: column;
    }
    .title_section{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0rem 2rem;
        overflow: hidden;
    }
    .line{
       
width: 60%;
        height: .1rem;
        border: 1px rgb(94, 93, 93) dotted;
        margin-top: .4rem;
    }
    .line2{
       
width: 85%;
        height: .1rem;
        border: 1px rgb(94, 93, 93) dotted;
        margin-top: .4rem;
    }
    .line3{
       
width: 72%;
        height: .1rem;
        border: 1px rgb(94, 93, 93) dotted;
        margin-top: .4rem;
    }
    .line4{
       
width: 78%;
        height: .1rem;
        border: 1px rgb(94, 93, 93) dotted;
        margin-top: .4rem;
    }
    .title_section h2{
       width: max-content;
       background-color: white;
    }