/* CustomCursor.css */
.cursor {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: aqua;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: transform 0.2s ease-in-out, background 0.2s ease-in-out;
    z-index: 9999;
    opacity: 0.5;
  }
  
  .cursor.hover {
    background: black;
  }
  