.cursor {
    width: 3rem;
    height: 3rem;
    background: black;
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: 0.2s ease-in-out;
    transition-property: background, transform;
    transform-origin: 140% 140%;
    z-index: 99;
    opacity: 0.5;
  }
  

.cursor.hover {
    transform: scale(2);
    background: black;
    opacity: 0.5;
}
