.cursor {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
   background-color: aqua;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: 0.2s ease-in-out;
    transition-property:  ease-in-out;
    transform-origin: 100% 100%;
    z-index: 9999;
    opacity: 0.5;

  }
  
  a:hover +.cursor {
    transform: scale(2);
    background: black; 
  }