/* components/ForgetPassword.module.css */
.container {
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
    justify-content: center!important;
    height: 100vh!important; /* 100% of the viewport height */
  }
  
  .formContainer {
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
    width: 300px!important; /* Adjust the width as needed */
  }
  
  .formLabel {
    margin-bottom: 10px!important;
  }
  
  .formInput {
    padding: 8px!important;
    margin-bottom: 15px!important;
  }
  
  .formButton {
    padding: 10px!important;
    background-color: #4caf50!important;
    color: white!important;
    border: none!important;
    border-radius: 5px!important;
    cursor: pointer!important;
  }
  
  .formButton:hover {
    background-color: #45a049!important;
  }
  
  .formTitle {
    margin-bottom: 20px!important;
  }
  