@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");


.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.nav_Bar{
    position:absolute;
    top: 0;
    left: 0;
}