
.main {
    width: 850px;
    height: 1130px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    box-sizing: border-box;
    background-color: white;
}
.download_btn {
    position: absolute;
}

.img_box{
height: 7rem;
width: 7rem;
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
}
.img_box img{
height: 100%;
width: 100%;
}
.left_section{
display: flex;
flex-direction: column;
padding: 3rem 1rem;
height: 1112px;
text-align: left;

}

.info_box{
width: 100%;
display: flex;
flex-direction: column;

padding: 1rem 1rem;
}
.education{
width: 100%;
display: flex;
flex-direction: column;

padding: 1rem 1rem;
}
.img_container{
display: flex;
align-items: center;
justify-content: center;
}
.right_section{
display: flex;
flex-direction: column;

}
.right_section p{
width: 95%!important;
display: flex;
flex-direction: column;
text-align: left;
list-style: none;

}
.right_section ul li{
margin-left:1.5rem ;

}
.right_section ul li {
width: 95%!important;
}
.work_history{
display: flex;
flex-direction: column;

}
.heading{
background-color: aliceblue;
padding: 3rem 1rem;
}
.certifications{
padding: 1rem;
display: flex;
flex-direction: column;
gap: .5rem;
}
.skills{
padding: 1rem;
display: flex;
flex-direction: column;
gap: .5rem;

}
.skills ul{
display: grid;
grid-template-columns: 1fr 1fr;

}
.professional_summary{
padding: 1rem;
display: flex;
flex-direction: column;
gap: .5rem;
}
.work{
padding: 1rem;
display: flex;
flex-direction: column;
gap: .5rem;
}
hr{
margin-left: 1rem;
}
.info_box p{
display: flex;
gap: .5rem;
align-items: center;
margin:0rem;
}
.certifications ul{
display: grid;
grid-template-columns: 1fr 1fr;

}
.edu{
flex-direction: column;
display: flex;
gap:.5rem;
}
.edu h4,p{
margin:0rem; 
}
.certi-ul {
margin-top:-1rem;
margin-left:-2.7rem;
flex-direction: column;
display: flex;
gap:.5rem;
}
.certi-ul li h5,p{
margin:0rem; 
}
.skill-ul{
margin-top:-1rem;
margin-left:-2.7rem;
}
.line{
margin-top:-1rem;
width:98%;
}
.work-ul{

margin-top:-1rem;
margin-left:-2.7rem;
flex-direction: column;
display: flex;
gap:.5rem;

}
.work-ul li h4,p{
margin:0rem;  
}