.main{
    display: flex;
       flex-direction: column;
        width: 52rem; /* 874px / 16px = 54.625rem */
        height: 73.3rem;  /* 1240px / 16px = 77.5rem */
        background-Color: white;
        box-Shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        gap: 1rem;
    
    }
    .heading{
        display: flex;
        padding: 0rem 3rem;
        flex-direction: column;
        justify-content: center;
        height: 5rem;
        width: 52rem; 
    }
    .summary h2{
        width: 90%;
    }
    .para{
        width: 90%;
    }
    .summary {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .Experience{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .Experience h2{
        width: 90%;
    }
    .Experience ul{
        width: 90%;
        list-style: none;
    }
    .Skills h2{

        width: 90%
    }
    .Skills {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .Skills ul{
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding-left: 1rem;
    }
    .customerService{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .education{
        list-style: none;
    }